Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-*,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-smartptr-get,

WarningsAsErrors: ''

HeaderFilterRegex: 'include/.*\.h$'

CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: false
